* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  flex: 1;
  display: flex;
  align-items: center;
}

.infosGeral {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.areaPhones {
  display: flex;
  position: relative;
  width: 350px;
}
.areaPhones img {
  width: 250px;
}
.areaPhones img:last-child {
  position: absolute;
  top: 10px;
  left: 70px;
}

.areaForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dddddd;
  padding: 0px 25px;
  margin-bottom: 10px;
}
.form #imgForm {
  width: 175px;
  margin: 25px 0px;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form input {
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px 10px;
  width: 250px;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.form input::placeholder {
  font-size: 0.7rem;
  color: #888;
}
.form form button {
  outline: none;
  border: none;
  padding: 5px 0px;
  border-radius: 5px;
  background: #83bacf;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 5px 0px 10px 0px;
  cursor: pointer;
}
.form form button:hover {
  background: #5da9c7;
}
.form .areaOR {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  width: 100%;
}
.areaOR .lineOR {
  width: 100%;
  height: 1px;
  background: #dddddd;
}
.areaOR span {
  margin: 0px 10px;
  font-size: 0.9rem;
  color: #707070;
}
.btnFacebook {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.btnFacebook img {
  width: 15px;
  margin-right: 10px;
}
.btnFacebook span {
  font-size: 0.8rem;
  color: #000072;
}

.btnForgetPassword {
  width: 100%;
  font-size: 0.75rem;
  color: #000042;
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
}

.areaCreateAccount {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #dddddd;
}
.areaCreateAccount a {
  text-decoration: none;
  color: #3687a7;
}

.areaAplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.areaAplicativo span {
  margin: 15px 0px;
}

.areaAplicativo .btnStores {
  display: flex;
}
.areaAplicativo .btnStores a {
  margin: 0px 5px;
}
.areaAplicativo .btnStores img {
  width: 120px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;
}

.optionsTop,
.optionsMiddle,
.optionsBottom {
  width: 100%;
  text-align: center;
  margin: 5px 0px;
  font-size: 13px;
  color: #999;
}

.optionsTop a,
.optionsMiddle a {
  margin: 0px 5px;
  text-decoration: none;
  color: #999;
}

.optionsBottom select {
  border-color: #fff;
  color: #999;
  font-size: 13px;
}
.optionsBottom option {
  color: #999;
}

@media screen and (max-width: 680px) {
  .areaPhones {
    display: none;
  }
}
